<%= form_for @answer, :html => { :class => "form-horizontal answer col-lg-offset-4 col-lg-8" } do |f| %>
  <div class="page-header">
    <h4><strong>Ask the <%= @question.user.email %>`s question!</strong></h4>
  </div>


  <div class="form-group">
    <div class="col-lg-12">
      <%= f.text_area :content, :class => 'form-control', rows: "5" %>
    </div>
    <%=f.error_span(:content) %>
  </div>

      <%= f.hidden_field :question_id, :class => 'form-control', value: @question.id %>
      <%= f.hidden_field :user_id, :class => 'form-control', value: if current_user then  current_user.id end %>



  <div class="form-group">
    <div class="col-lg-12 text-right">
      <%= f.submit "Answer this question", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                answers_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
