<%- model_class = Question -%>

<div class="panel">
  <div class="panel-heading">
    <h2><%= @question.title %></h2>
    <span> By <%= link_to @question.user.email, "#" %> on <%=@question.updated_at.strftime("%d/%b/%Y")%></span>
  </div>
  <div class="panel-body">
    <%= @question.description %>
  </div>

  <% unless @answers.nil? %>
  <hr>
  <div id="answers" class="">
    <%@answers.each do | answer |%>
    <div class="panel">
      <div class="panel-body">
        <%= answer.content %>
      </div>
      <div class="panel-footer">
        <%if answer.user.perfil.has_avatar?  %>
          <%= image_tag(answer.user.perfil.avatar.url, size: "30")  %>
        <% end %>
          
          
         <span> <%= answer.user.perfil %> on <%= answer.updated_at.strftime("%d/%b/%Y")%></span>
      </div>
    </div>
    <% end%>
  </div>
  <% end%>
  <%= render partial: "form_answer"%>
</div>

<% if current_user == @question.user %>

<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(@question), :class => 'btn btn-default' %>
<% end %>
